
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.example-sZZ {
  width: 100%;
  height: 361.7rem;
  position: relative;
  overflow: hidden;
}
.example-sZZ .button-accessibility-menu-button-accessibility-menu-paints-Vqq {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  left: 137.5206rem;
  top: 75.3689rem;
  background-color: #0048ff;
  border-radius: 2.2rem;
}
.example-sZZ .button-accessibility-menu-Wkw {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  left: 137.5206rem;
  top: 75.3689rem;
  object-fit: contain;
  vertical-align: top;
}
.example-sZZ .article-1hh {
  width: 144.9rem;
  height: 355.5rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
}
.example-sZZ .article-1hh .divsbthero-QdM {
  margin: 0rem 0rem 0rem 0.1rem;
  box-sizing: border-box;
  padding: 4.16rem 11.416rem 2.49rem 8rem;
  width: 144rem;
  height: 19.98rem;
  background-color: #233b53;
}
.example-sZZ .article-1hh .divsbthero-QdM .section-6FH {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.example-sZZ .article-1hh .divsbthero-QdM .section-6FH .divcontainer-RYT {
  margin-right: 13.435rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .divsbthero-QdM .section-6FH .divcontainer-RYT .heading-1-summary-of-twelfth-night-by-william-xYP {
  margin-bottom: 0.83rem;
  max-width: 79.7rem;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  flex-shrink: 0;
}
.example-sZZ .article-1hh .divsbthero-QdM .section-6FH .divcontainer-RYT .link-shakespeare-plays-ipP {
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1999999682;
  color: #ff8360;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .divsbthero-QdM .section-6FH .link-psR {
  margin: 4.97rem 0rem 3.44rem 0rem;
  width: 31.449rem;
  height: calc(100% - 8.41rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.215;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #233b53;
  font-family: Cabin, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #7dce82;
  box-sizing: border-box;
  background-color: #7dce82;
  border-radius: 3rem;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X {
  width: 100%;
  height: 335.52rem;
  position: relative;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .nav-xMM {
  box-sizing: border-box;
  padding: 1rem 1rem 0rem 1rem;
  width: 20rem;
  height: 74.04rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #dae6f4;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .nav-xMM .heading-more-picture-Tou {
  margin-bottom: 0.77rem;
  max-width: 15.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #233b53;
  font-family: Merriweather, 'Source Sans Pro';
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .nav-xMM .list-item-link-a-midsummer-iUw {
  max-width: 16.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X {
  width: 144.9rem;
  height: 335.2389rem;
  position: absolute;
  left: 0;
  top: 0.2811rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR {
  width: 100%;
  height: 139.8589rem;
  position: relative;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .twelfth-night-is-a-comedic-twist-on-the-age-old-love-triangle-plot-bending-the-gender-roles-and-rules-and-eventually-G95 {
  width: 97rem;
  height: 2.7rem;
  position: absolute;
  left: 23.1794rem;
  top: 0;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .ending-in-two-happy-marriages-and-a-surprising-disguise-K7M {
  width: 47.7rem;
  height: 2.7rem;
  position: absolute;
  left: 23.1794rem;
  top: 2.7rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-l6dk-zjH {
  width: 96.6794rem;
  height: 99.0489rem;
  position: absolute;
  left: 23.4794rem;
  top: 6.9711rem;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-l6dk-zjH .divthumbnail-ifH {
  box-sizing: border-box;
  padding: 0.3rem 0.3rem 0rem 0.3rem;
  width: 96.5rem;
  height: 92.42rem;
  position: absolute;
  left: 0.1794rem;
  top: 0;
  background-color: #ffffff;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-l6dk-zjH .divthumbnail-ifH .divstoryboard-example-large-image-RZh {
  box-sizing: border-box;
  padding: 3rem 0.821rem 4.621rem 1.779rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-l6dk-zjH .divthumbnail-ifH .divstoryboard-example-large-image-RZh .link-iYo {
  margin: 0rem 32.065rem 0.021rem 31.106rem;
  width: calc(100% - 63.171rem);
  height: 4.82rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #233b53;
  font-family: Cabin, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #233b53;
  box-sizing: border-box;
  box-shadow: 0 0.3rem 0.5rem #233b53;
  background-color: #7dce82;
  border-radius: 3rem;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-l6dk-zjH .divthumbnail-ifH .divstoryboard-example-large-image-RZh .picture-twelfth-nightwebp-uNP {
  margin-bottom: 3.2578rem;
  width: 93.3rem;
  height: 72.8rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/picture-twelfth-nightwebp.png');
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-l6dk-zjH .divthumbnail-ifH .divstoryboard-example-large-image-RZh .heading-2-twelfth-night-summary-Ap7 {
  margin-right: 0.9778rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.96rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #233b53;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-l6dk-zjH .shipwrecked-on-the-island-of-illyria-viola-believes-she-is-alone-because-her-twin-brother-sebastian-likely-drowned-FKm {
  width: 95.3rem;
  height: 2.7rem;
  position: absolute;
  left: 0.1rem;
  top: 91.1489rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-l6dk-zjH .she-disguises-herself-as-a-man-and-calls-herself-cesario-and-begins-to-serve-in-the-duke-orsinos-court-where-she-tdd {
  width: 95.5rem;
  height: 2.7rem;
  position: absolute;
  left: 0.2rem;
  top: 93.7589rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-l6dk-zjH .ends-up-falling-in-love-with-the-duke-the-duke-is-in-love-with-a-woman-named-olivia-who-has-recently-lost-her-JBZ {
  width: 92.2rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 96.3489rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .brother-and-her-father-she-refuses-to-marry-anyone-for-seven-years-the-duke-sends-cesario-as-an-envoy-to-olivia-Y5u {
  width: 96rem;
  height: 2.7rem;
  position: absolute;
  left: 23.5794rem;
  top: 106.32rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .on-his-behalf-but-olivia-ends-up-falling-in-love-with-cesario-b4B {
  width: 49.7rem;
  height: 2.7rem;
  position: absolute;
  left: 23.6794rem;
  top: 109.32rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-vh7k-s1h {
  width: 96rem;
  height: 10.1rem;
  position: absolute;
  left: 23.1794rem;
  top: 113.371rem;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-vh7k-s1h .meanwhile-members-of-olivias-court-conspire-to-make-her-obnoxious-steward-malvolio-think-that-olivia-has-fallen-Zv7 {
  width: 96rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-vh7k-s1h .in-love-with-him-they-deliver-a-letter-in-her-handwriting-telling-him-to-act-and-dress-strangely-to-prove-his-love-for-34b {
  width: 95.1rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-vh7k-s1h .her-olivia-is-appalled-by-his-behavior-and-malvolio-is-locked-up-by-the-conspirators-and-mercilessly-mocked-they-u6o {
  width: 95.4rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 4.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-vh7k-s1h .do-allow-him-to-write-a-letter-to-olivia-asking-to-be-released-from-his-prison-Zx3 {
  width: 63.4rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 7.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-uqgd-FK5 {
  width: 93.7rem;
  height: 5rem;
  position: absolute;
  left: 23.1794rem;
  top: 124.371rem;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-uqgd-FK5 .sebastian-arrives-at-the-court-alive-after-all-olivia-asks-him-to-marry-her-thinking-that-he-is-cesario-sebastian-xjH {
  width: 93.7rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-uqgd-FK5 .agrees-and-they-are-married-cesario-and-orsino-go-to-visit-olivia-and-olivia-greets-cesario-thinking-she-is-the-coq {
  width: 92.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-ewgz-goh {
  width: 95.2rem;
  height: 7.8rem;
  position: absolute;
  left: 23.1794rem;
  top: 129.371rem;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-ewgz-goh .cesario-she-just-married-sebastian-arrives-and-viola-reveals-her-true-identity-orsino-comes-to-realize-that-hes-in-cST {
  width: 95.2rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-ewgz-goh .love-with-viola-and-the-couples-are-happy-with-the-outcome-malvolio-is-released-from-his-prison-and-swears-rrb {
  width: 90.7rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 2.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-a3av-LFR .auto-group-ewgz-goh .revenge-on-his-tormentors-Xhq {
  width: 22.8rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 5.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #233b53;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD {
  width: 100%;
  height: 195.38rem;
  position: relative;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT {
  box-sizing: border-box;
  padding-top: 74.5679rem;
  width: 144.9rem;
  height: 123.2679rem;
  position: absolute;
  left: 0;
  top: 72.1121rem;
  background-color: #ffffff;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs {
  box-sizing: border-box;
  padding: 2.6789rem 10.4206rem;
  width: 100%;
  height: 100%;
  background-color: #233b53;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 {
  width: 111rem;
  height: 29.08rem;
  display: flex;
  align-items: flex-start;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-xgf {
  margin-right: 38.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-xgf .for-students-ubu {
  margin-bottom: 1.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Cabin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-xgf .list-item-link-my-classroom-R4T {
  margin-bottom: 1.48rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-xgf .list-item-link-photos-for-class-Wrb {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud {
  margin-right: 30.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud .for-teachers-Z4B {
  margin-bottom: 1.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Cabin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud .list-item-link-free-trial-for-teachers-Fhh {
  margin-bottom: 1.48rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud .list-item-link-district-packages-wKd {
  margin-bottom: 1.48rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud .list-item-link-training-sessions-3Nf {
  margin-bottom: 1.48rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud .list-item-link-all-teacher-resources-wU3 {
  margin-bottom: 1.48rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud .auto-group-yd2u-3GB {
  margin-bottom: 1.48rem;
  width: 11.6rem;
  height: 4.98rem;
  position: relative;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud .auto-group-yd2u-3GB .list-item-link-all-worksheet-xP9 {
  width: 11.6rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud .auto-group-yd2u-3GB .list-item-link-templates-rDd {
  width: 8.8rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 2.48rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-cud .list-item-link-all-poster-templates-kK1 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-fgs {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-fgs .about-1kj {
  margin-bottom: 1.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.215;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Cabin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-fgs .list-item-link-about-us-jRq {
  margin-bottom: 1.48rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divthumbnail-NiT .section-footer-WJs .divcontainer-qM9 .divfooter-col-fgs .list-item-link-contact-us-FQB {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #d9d9d9;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divstoryboard-example-large-image-MTD {
  box-sizing: border-box;
  padding: 3rem 1.35rem 3rem 1.35rem;
  width: 95.9rem;
  height: 92.02rem;
  position: absolute;
  left: 23.1rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divstoryboard-example-large-image-MTD .link-2pF {
  margin: 0rem 31.536rem 3rem 31.535rem;
  width: calc(100% - 63.071rem);
  height: 4.82rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #233b53;
  font-family: Cabin, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #233b53;
  box-sizing: border-box;
  box-shadow: 0 0.3rem 0.5rem #233b53;
  background-color: #7dce82;
  border-radius: 3rem;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divstoryboard-example-large-image-MTD .picture-twelfth-night-main-characterswebp-3zF {
  margin-bottom: 3rem;
  width: 93.2rem;
  height: 71.2rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/picture-twelfth-night-main-characterswebp.png');
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divstoryboard-example-large-image-MTD .auto-group-ofa5-jcB {
  margin: 0rem 23.785rem 0rem 23.784rem;
  width: calc(100% - 47.569rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divstoryboard-example-large-image-MTD .auto-group-ofa5-jcB .link-eUF {
  margin-right: 2rem;
  width: 23.305rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.215;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #233b53;
  font-family: Cabin, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #233b53;
  box-sizing: border-box;
  box-shadow: 0 0.3rem 0.5rem #172c41;
  background-color: #ff8360;
  border-radius: 3rem;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .divstoryboard-example-large-image-MTD .auto-group-ofa5-jcB .link-6b9 {
  width: 20.326rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.215;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #ff8360;
  font-family: Cabin, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ff8360;
  box-sizing: border-box;
  box-shadow: 0 0.3rem 0.5rem rgba(255, 125, 38, 0.3700000048);
  background-color: #ffffff;
  border-radius: 3rem;
  flex-shrink: 0;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw {
  width: 144rem;
  height: 65.784rem;
  position: absolute;
  left: 0;
  top: 79.78rem;
  background-color: #ffffff;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .link-PCs {
  width: 40.615rem;
  height: 4.82rem;
  position: absolute;
  left: 51.592rem;
  top: 21.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #233b53;
  font-family: Cabin, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #233b53;
  box-sizing: border-box;
  box-shadow: 0 0.3rem 0.5rem #233b53;
  background-color: #7dce82;
  border-radius: 3rem;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP {
  width: 29rem;
  height: 38.5rem;
  position: absolute;
  left: 111.7rem;
  top: 26.72rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:9:143');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-fill-hWF.png');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-fill-udq.png');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-fill-Q1V.png');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj .picture-source-yaP {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-fill.png');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj .picture-source-yaP .picture-source-uU3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:9:153');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj .picture-source-yaP .picture-source-uU3 .picture-source-qMh {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:9:155');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj .picture-source-yaP .picture-source-uU3 .picture-source-qMh .picture-source-v1m {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-fill-ihd.png');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj .picture-source-yaP .picture-source-uU3 .picture-source-qMh .picture-source-v1m .picture-source-59Z {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:9:159');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj .picture-source-yaP .picture-source-uU3 .picture-source-qMh .picture-source-v1m .picture-source-59Z .picture-source-2qV {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:9:161');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj .picture-source-yaP .picture-source-uU3 .picture-source-qMh .picture-source-v1m .picture-source-59Z .picture-source-2qV .picture-source-PR9 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:9:163');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj .picture-source-yaP .picture-source-uU3 .picture-source-qMh .picture-source-v1m .picture-source-59Z .picture-source-2qV .picture-source-PR9 .picture-source-LrB {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-fill-cr3.png');
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-source-onP .picture-source-XiP .picture-source-sXM .picture-source-czj .picture-source-yaP .picture-source-uU3 .picture-source-qMh .picture-source-v1m .picture-source-59Z .picture-source-2qV .picture-source-PR9 .picture-source-LrB .image-fill-hRq {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.example-sZZ .article-1hh .auto-group-mdr7-R6X .divcontainer-c4X .auto-group-z3qp-RoD .section-section-Gtw .picture-grpimgwebp-3e7 {
  width: 141.6rem;
  height: 24.064rem;
  position: relative;
  left: 1.1rem;
  top: 36.22rem;
  background-size: 100% 100%;
  background-image: url('../assets/picture-grpimgwebp-q67.png');
}
.example-sZZ .divheader-22-container-6cP {
  box-sizing: border-box;
  padding: 1.579rem 2rem 1.041rem 38.6rem;
  width: 144rem;
  height: 7.02rem;
  position: absolute;
  left: 0.4rem;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2399999946);
  background-color: #ffffff;
}
.example-sZZ .divheader-22-container-6cP .nav-list-item-link-resources-a1m {
  margin: 0rem 12.442rem 0.718rem 0rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #333333;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .divheader-22-container-6cP .nav-list-item-link-create-a-storyboard-f3D {
  margin: 0rem 17.596rem 0.718rem 0rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #333333;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .divheader-22-container-6cP .list-item-button-newsearchpng-9DH {
  margin-right: 2.068rem;
  width: 2rem;
  height: 2rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/list-item-button-newsearchpng.png');
  flex-shrink: 0;
}
.example-sZZ .divheader-22-container-6cP .list-item-link-my-storyboards-Bfm {
  margin: 0rem 8.185rem 0.398rem 0rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #333333;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .divheader-22-container-6cP .list-item-aside-button-log-out-UPy {
  margin: 0rem 17.209rem 0.398rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #333333;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.example-sZZ .divheader-22-container-6cP .list-button-profile-menu-AGo {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #dae6f4;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.example-sZZ .divheader-22-container-6cP .list-button-profile-menu-AGo .userpng-hGj {
  width: 3.4rem;
  height: 3.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/userpng.png');
}
