:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1536px;
  height: 697.4px;
  margin: 0 auto;
  background: #e0e1dc;
}
.svg {
  position: relative;
  width: 1440px;
  height: 1510.79px;
  margin: -20000px 0 0 0;
  z-index: 131;
  overflow: hidden;
}
.group {
  position: relative;
  width: 981.668px;
  height: 1307.602px;
  margin: 88.098px 0 0 240.025px;
  z-index: 132;
}
.vector {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/d91acd9b-63ac-43c0-9c10-a2fa24ba3aee.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 133;
}
.flex-row-bda {
  position: relative;
  width: 11542px;
  height: 39.6px;
  margin: 18509.21px 0 0 -9999px;
  z-index: 2;
}
.heading-accessibility {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 39.6px;
  top: 0;
  left: 0;
  color: #212529;
  font-family: Open Sans, var(--default-font-family);
  font-size: 35.859375px;
  font-weight: 400;
  line-height: 39.6px;
  text-align: left;
  white-space: nowrap;
}
.dv-upgrade-bar-top {
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 9.6px;
  left: 9991px;
  background: #7dce82;
  z-index: 2;
}
.flex-row-fd {
  position: relative;
  width: 11542.5px;
  height: 32px;
  margin: -9.4px 0 0 -9999px;
  z-index: 26;
}
.update-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: #212529;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.row {
  position: absolute;
  height: 32px;
  top: 0;
  right: 0;
  left: 9991.5px;
  background: #ffffff;
  z-index: 3;
}
.tab {
  position: absolute;
  width: 161.69px;
  top: 0;
  bottom: 0;
  left: 744.05px;
  background: #ffffff;
  z-index: 24;
  border-radius: 2.5px 2.5px 0 0;
}
.web-wireframes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 4.1px;
  bottom: 6.3px;
  left: 10.8px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.tab-1 {
  position: absolute;
  width: 140.15px;
  top: 0;
  bottom: 0;
  left: 414.49px;
  background: #ffffff;
  z-index: 15;
  border-radius: 2.5px 2.5px 0 0;
}
.speech-bubbles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 4.1px;
  bottom: 6.3px;
  left: 10.8px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.tab-2 {
  position: absolute;
  width: 113.94px;
  top: 0;
  bottom: 0;
  left: 630.11px;
  background: #ffffff;
  z-index: 21;
  border-radius: 2.5px 2.5px 0 0;
}
.infographics {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 4.1px;
  bottom: 6.3px;
  left: 10.8px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.tab-3 {
  position: absolute;
  width: 102.34px;
  top: 0;
  bottom: 0;
  left: 248.95px;
  background: #ffffff;
  z-index: 9;
  border-radius: 2.5px 2.5px 0 0;
}
.characters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 4.1px;
  bottom: 6.3px;
  left: 10.8px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.more-options {
  position: absolute;
  width: 87.43px;
  top: 0;
  bottom: 0;
  left: 905.74px;
  background: #ffffff;
  z-index: 28;
  border-radius: 2.5px 2.5px 0 0;
}
.more {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21.6px;
  top: 4.1px;
  left: 10.8px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.after {
  position: absolute;
  width: 9.6px;
  height: 4.8px;
  top: 12.03px;
  left: 67.02px;
  border-right: 4.8px solid #000000;
  border-bottom: 4.8px solid #000000;
  border-left: 4.8px solid #000000;
  z-index: 30;
}
.tab-4 {
  position: absolute;
  width: 75.47px;
  top: 0;
  bottom: 0;
  left: 554.64px;
  background: #ffffff;
  z-index: 18;
  border-radius: 2.5px 2.5px 0 0;
}
.shapes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 4.1px;
  bottom: 6.3px;
  left: 10.8px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.tab-5 {
  position: absolute;
  top: 0;
  right: 1302.05px;
  bottom: 0.8px;
  left: 175.5px;
  background: #4286f4;
  border: 1px solid #dee2e6;
  z-index: 6;
  border-radius: 2.5px 2.5px 0 0;
}
.scenes {
  position: absolute;
  top: 3.1px;
  right: 9.441px;
  bottom: 4.5px;
  left: 9.8px;
  cursor: pointer;
  color: #ffffff;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 7;
}
.tab-6 {
  position: absolute;
  width: 63.2px;
  top: 0;
  bottom: 0;
  left: 351.29px;
  background: #ffffff;
  z-index: 12;
  border-radius: 2.5px 2.5px 0 0;
}
.items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 4.1px;
  bottom: 6.3px;
  left: 10.8px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.input {
  position: absolute;
  top: 0.95px;
  right: 173px;
  bottom: 0.95px;
  left: 1128px;
  background: #ffffff;
  border: 1px solid #233b53;
  z-index: 41;
  border-radius: 15px;
}
.placeholder {
  position: relative;
  width: 233.4px;
  height: 19.2px;
  margin: 5.35px 0 0 8.3px;
  z-index: 42;
  overflow: hidden;
}
.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19.2px;
  top: 0;
  left: 35px;
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 19.065px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 16.2px;
  height: 16px;
  top: 1.92px;
  left: calc(50% - 115.2px);
  color: #233b53;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 44;
}
.link {
  position: absolute;
  width: 74.42px;
  top: 1px;
  right: 7.5px;
  bottom: 1px;
  background: #ffffff;
  border: 1px solid #4286f4;
  z-index: 38;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.log-out {
  position: absolute;
  width: 61.217px;
  top: 3.6px;
  right: 5.403px;
  bottom: 5.2px;
  cursor: pointer;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.2px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 39;
}
.button {
  position: absolute;
  width: 61.08px;
  top: 1px;
  bottom: 2.4px;
  left: 1398px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #0d6efd;
  z-index: 35;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.help {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 34.143px;
  height: 19.2px;
  top: 3.6px;
  left: 19.44px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 37;
}
.t {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10.2px;
  height: 10.4px;
  top: 8.4px;
  left: 5.8px;
  color: #4286f4;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
  z-index: 36;
}
.upload-images {
  position: absolute;
  width: 78.67px;
  top: 2px;
  bottom: 2.5px;
  left: 1039.33px;
  cursor: pointer;
  background: #4286f4;
  border: 1px solid #4286f4;
  z-index: 32;
  border-radius: 20px;
}
.upload {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 2px;
  bottom: 4.3px;
  left: 14.8px;
  color: #ffffff;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.flex-row-ad {
  position: relative;
  width: 11535px;
  height: 31.8px;
  margin: 0 0 0 -9999px;
  z-index: 47;
}
.update-content-7 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 0;
  left: 0;
  color: #212529;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.navigation {
  position: absolute;
  height: 31.8px;
  top: 0;
  right: 0;
  left: 9999px;
  background: #dae6f4;
  z-index: 46;
}
.tab-8 {
  position: absolute;
  width: 130.35px;
  top: 0;
  bottom: -0.2px;
  left: 1026.31px;
  background: #dae6f4;
  z-index: 83;
  border-radius: 2.5px 2.5px 0 0;
}
.country-rustic {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.tab-9 {
  position: absolute;
  width: 128.66px;
  top: 0;
  bottom: -0.2px;
  left: 294.79px;
  background: #dae6f4;
  z-index: 59;
  border-radius: 2.5px 2.5px 0 0;
}
.home-outdoor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.tab-a {
  position: absolute;
  width: 126.51px;
  top: 0;
  bottom: -0.2px;
  left: 727.17px;
  background: #dae6f4;
  z-index: 74;
  border-radius: 2.5px 2.5px 0 0;
}
.classical-homes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.81px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.tab-b {
  position: absolute;
  width: 119.09px;
  top: 0;
  bottom: -0.2px;
  left: 552.05px;
  background: #dae6f4;
  z-index: 68;
  border-radius: 2.5px 2.5px 0 0;
}
.transportation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.tab-c {
  position: absolute;
  width: 116.7px;
  top: 0;
  bottom: -0.2px;
  left: 178.09px;
  background: #dae6f4;
  z-index: 56;
  border-radius: 2.5px 2.5px 0 0;
}
.home-indoor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 57;
}
.tab-d {
  position: absolute;
  width: 115.84px;
  top: 0;
  bottom: -0.2px;
  left: 62.25px;
  background: #dae6f4;
  z-index: 53;
  border-radius: 2.5px 2.5px 0 0;
}
.entertainment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.tab-e {
  position: absolute;
  width: 89.8px;
  top: 0;
  bottom: -0.2px;
  left: 936.51px;
  background: #dae6f4;
  z-index: 80;
  border-radius: 2.5px 2.5px 0 0;
}
.us-history {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.tab-f {
  position: absolute;
  width: 86px;
  top: 0;
  bottom: -0.2px;
  left: 1233.86px;
  background: #dae6f4;
  z-index: 89;
  border-radius: 2.5px 2.5px 0 0;
}
.close-ups {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.tab-10 {
  position: absolute;
  width: 82.83px;
  top: 0;
  bottom: -0.2px;
  left: 853.69px;
  background: #dae6f4;
  z-index: 77;
  border-radius: 2.5px 2.5px 0 0;
}
.historical {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 78;
}
.presentation-tab-menu-dropdown {
  position: absolute;
  width: 78.8px;
  top: 0;
  bottom: -0.2px;
  left: 1319.86px;
  background: #dae6f4;
  z-index: 92;
  border-radius: 2.5px 2.5px 0 0;
}
.more-11 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19.2px;
  top: 6.6px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.after-12 {
  position: absolute;
  width: 8px;
  height: 4px;
  top: 14.24px;
  left: 60px;
  border-right: 4px solid #4286f4;
  border-bottom: 4px solid #4286f4;
  border-left: 4px solid #4286f4;
  z-index: 94;
}
.tab-13 {
  position: absolute;
  width: 77.2px;
  top: 0;
  bottom: -0.2px;
  left: 1156.66px;
  background: #dae6f4;
  z-index: 86;
  border-radius: 2.5px 2.5px 0 0;
}
.outdoor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 87;
}
.tab-14 {
  position: absolute;
  width: 64.95px;
  top: 0;
  bottom: -0.2px;
  left: 423.45px;
  background: #dae6f4;
  z-index: 62;
  border-radius: 2.5px 2.5px 0 0;
}
.school {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.tab-15 {
  position: absolute;
  width: 63.65px;
  top: 0;
  bottom: -0.2px;
  left: 488.4px;
  background: #dae6f4;
  z-index: 65;
  border-radius: 2.5px 2.5px 0 0;
}
.sports {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.tab-16 {
  position: absolute;
  width: 62.25px;
  top: 0;
  bottom: -0.2px;
  left: 0;
  cursor: pointer;
  background: #4286f4;
  border: none;
  z-index: 50;
  border-radius: 2.5px 2.5px 0 0;
}
.town {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 3.8px;
  left: 10.8px;
  color: #ffffff;
  font-family: Open Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.tab-17 {
  position: absolute;
  width: 56.04px;
  top: 0;
  bottom: -0.2px;
  left: 671.14px;
  background: #dae6f4;
  z-index: 71;
  border-radius: 2.5px 2.5px 0 0;
}
.work {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 6.6px;
  bottom: 6.2px;
  left: 10.8px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.nav-link {
  position: absolute;
  width: 37.2px;
  top: 0;
  bottom: 0.35px;
  left: 1454px;
  background: #dae6f4;
  z-index: 95;
  border-radius: 2.5px 2.5px 0 0;
}
.expand-image-library {
  position: relative;
  width: 35.6px;
  height: 29.85px;
  margin: 0.8px 0 0 0.8px;
  background: #ffffff;
  border: 1px solid #0d6efd;
  z-index: 96;
  overflow: visible auto;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.svg-18 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 3.05px 0 0 5.8px;
  background: url(./assets/images/0db578f2-0ecc-4e71-a6fe-edff9f3388ae.png)
    no-repeat center;
  background-size: cover;
  z-index: 97;
  overflow: hidden;
}
.span-nav-link {
  position: absolute;
  width: 37.2px;
  top: 0;
  bottom: 0.35px;
  left: 1491.2px;
  background: #dae6f4;
  z-index: 98;
  border-radius: 2.5px 2.5px 0 0;
}
.button-shrink-image {
  position: relative;
  width: 35.6px;
  height: 29.85px;
  margin: 0.8px 0 0 0.8px;
  background: #ffffff;
  border: 1px solid #0d6efd;
  z-index: 99;
  overflow: visible auto;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.svg-19 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 3.05px 0 0 5.8px;
  background: url(./assets/images/0c487a3e-d5c3-47c2-bca1-ef5974d4b8ff.png)
    no-repeat center;
  background-size: cover;
  z-index: 100;
  overflow: hidden;
}
.content-wrapper {
  position: relative;
  width: 1536px;
  height: 124px;
  margin: 0px 0 0 0;
  background: #ffffff;
  z-index: 101;
  overflow: hidden;
}
.tabpanel {
  position: absolute;
  width: 10194.5px;
  top: 0;
  bottom: 22px;
  left: 75px;
  z-index: 102;
}
.button-1a {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 45px;
  z-index: 103;
}
.large-webp {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/889c523c-e2ef-4e4a-81dd-f641d7884295.png)
    no-repeat center;
  background-size: cover;
  z-index: 104;
  overflow: hidden;
}
.button-1b {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 151px;
  z-index: 105;
}
.large-webp-1c {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/0d3a23ff-c79c-40ae-9bf9-8dc6d8209a5c.png)
    no-repeat center;
  background-size: cover;
  z-index: 106;
  overflow: hidden;
}
.button-1d {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 257px;
  z-index: 107;
}
.large-webp-1e {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/ee799198-7616-4f32-82c4-1bae7dc97061.png)
    no-repeat center;
  background-size: cover;
  z-index: 108;
  overflow: hidden;
}
.button-1f {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 363px;
  z-index: 109;
}
.large-webp-20 {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/109686c0-0754-4d34-8cb1-fdd7b0cc7891.png)
    no-repeat center;
  background-size: cover;
  z-index: 110;
  overflow: hidden;
}
.button-21 {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 469px;
  z-index: 111;
}
.large-webp-22 {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/afbfef45-6441-4338-bffe-0132b22e6b49.png)
    no-repeat center;
  background-size: cover;
  z-index: 112;
  overflow: hidden;
}
.button-23 {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 575px;
  z-index: 113;
}
.large-webp-24 {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/662f264b-20eb-481d-9db1-586fed12f51c.png)
    no-repeat center;
  background-size: cover;
  z-index: 114;
  overflow: hidden;
}
.button-25 {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 681px;
  z-index: 115;
}
.large-webp-26 {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/1a4411b1-f0ba-47a0-b40a-259fc7f07184.png)
    no-repeat center;
  background-size: cover;
  z-index: 116;
  overflow: hidden;
}
.button-27 {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 787px;
  z-index: 117;
}
.large-webp-28 {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/b0f5ee78-d6c6-4c81-a9da-240cc3de139e.png)
    no-repeat center;
  background-size: cover;
  z-index: 118;
  overflow: hidden;
}
.button-29 {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 893px;
  z-index: 119;
}
.large-webp-2a {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/614fa912-d0ee-4c9f-a313-b56e9c860a2a.png)
    no-repeat center;
  background-size: cover;
  z-index: 120;
  overflow: hidden;
}
.button-2b {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 999px;
  z-index: 121;
}
.large-webp-2c {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/c2efce7c-cefb-40f7-a3f8-f438a46c2a09.png)
    no-repeat center;
  background-size: cover;
  z-index: 122;
  overflow: hidden;
}
.button-2d {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 1105px;
  z-index: 123;
}
.large-webp-2e {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/34fbf936-bfa6-4184-8861-31ab4c0539a3.png)
    no-repeat center;
  background-size: cover;
  z-index: 124;
  overflow: hidden;
}
.button-2f {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 1211px;
  z-index: 125;
}
.large-webp-30 {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/a87fccda-aa27-4f80-882b-4a81ffedf3ce.png)
    no-repeat center;
  background-size: cover;
  z-index: 126;
  overflow: hidden;
}
.button-31 {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 1317px;
  z-index: 127;
}
.large-webp-32 {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/dab19273-079e-44f5-b596-5365870d134d.png)
    no-repeat center;
  background-size: cover;
  z-index: 128;
  overflow: hidden;
}
.button-33 {
  position: absolute;
  width: 106px;
  top: 0;
  bottom: 0;
  left: 1423px;
  z-index: 129;
}
.large-webp-34 {
  position: relative;
  width: 106px;
  height: 96px;
  margin: 0 0 0 0;
  background: url(./assets/images/f4a2268d-69b7-430d-95fc-5d1a1f3ee02d.png)
    no-repeat center;
  background-size: cover;
  z-index: 130;
  overflow: hidden;
}
.button-35 {
  position: absolute;
  width: 120px;
  top: 0.2px;
  bottom: 24.8px;
  left: 0;
  background: #ffffff;
  border: 4px solid #ffffff;
  z-index: 134;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 0 0 #4286f4 inset;
}
.vwo-filter-text {
  position: relative;
  width: 93px;
  height: 46px;
  margin: 26.5px 0 0 13.5px;
  background: #ffffff;
  z-index: 135;
  border-radius: 4px;
}
.span-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 6.745px;
  height: 32px;
  top: 7px;
  left: calc(50% - -23.65px);
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 21.299999237060547px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 137;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 53.072px;
  height: 25.6px;
  top: 11px;
  left: calc(50% - 30.06px);
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 18.700000762939453px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 136;
}
.main {
  position: relative;
  width: 1551px;
  height: 459.4px;
  margin: 95px 0 0 -7px;
  background: #e5e4e4;
  border-bottom: 0.8px solid #a0a5ab;
  z-index: 138;
}
.div-svg-container {
  position: absolute;
  top: 0px;
  right: 258.5px;
  bottom: 0;
  left: 258.5px;
  background: #e5e4e4;
  border-right: 0.8px solid #a0a5ab;
  border-left: 0.8px solid #a0a5ab;
  z-index: 162;
  overflow: hidden;
}
.svg-36 {
  position: relative;
  width: 520.8px;
  height: 470.4px;
  margin: 10px 0 0 251.8px;
  background: #ffffff;
  z-index: 163;
  overflow: hidden;
  border-radius: 6px;
}
.core-svg {
  position: absolute;
  width: 520.8px;
  height: 470.4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 164;
}
.cell-definition {
  position: absolute;
  width: 306.99%;
  height: 108.21%;
  top: 0;
  left: -0.54%;
  z-index: 165;
}
.flex-row-bd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1596px;
  height: 470.4px;
  margin: 0 0 0 2.8px;
  z-index: 168;
}
.cell-rc {
  flex-shrink: 0;
  position: relative;
  width: 520.8px;
  height: 470.4px;
  background: url(./assets/images/6a4da27e-64b6-41ad-8872-785b1b70733b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 166;
}
.cell-rc-37 {
  flex-shrink: 0;
  position: relative;
  width: 520.8px;
  height: 470.4px;
  background: url(./assets/images/a105cb90-a554-47e0-bd2c-883b19ef8653.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 167;
}
.cell-rc-38 {
  flex-shrink: 0;
  position: relative;
  width: 520.8px;
  height: 470.4px;
  background: url(./assets/images/a65d598e-1e50-4018-ad58-5684e1b62dbf.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 168;
}
.watermark {
  display: block;
  position: relative;
  height: 26px;
  margin: 12.6px 0 0 0;
  color: #000000;
  font-family: Roboto, var(--default-font-family);
  font-size: 22.399999618530273px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 169;
}
.list {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 1292.5px;
  background: #dae6f4;
  z-index: 170;
}
.item-button {
  position: relative;
  width: 248.49px;
  height: 27.85px;
  margin: 5px 0 0 0;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #0d6efd;
  z-index: 171;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 48.226px;
  height: 16px;
  top: 4.35px;
  left: 108.43px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 172;
}
.e {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12.7px;
  height: 12.8px;
  top: 6.35px;
  left: 90.8px;
  color: #4286f4;
  font-family: Inter, var(--default-font-family);
  font-size: 12.5px;
  font-weight: 400;
  line-height: 12.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 173;
}
.item-button-39 {
  position: relative;
  width: 248.49px;
  height: 27.85px;
  margin: 10px 0 0 0;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #0d6efd;
  z-index: 174;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.add-delete-cells {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 117.753px;
  height: 16px;
  top: 4.35px;
  left: 74.21px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 175;
}
.o {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12.7px;
  height: 12.8px;
  top: 6.35px;
  left: 56.59px;
  color: #4286f4;
  font-family: Inter, var(--default-font-family);
  font-size: 12.5px;
  font-weight: 400;
  line-height: 12.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 176;
}
.flex-row-cc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 249.76px;
  height: 27.85px;
  margin: 10px 0 0 0;
  z-index: 180;
}
.item-button-3a {
  flex-shrink: 0;
  position: relative;
  width: 121.76px;
  height: 27.85px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #0d6efd;
  z-index: 177;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.move-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 66.572px;
  height: 16px;
  top: 4.35px;
  left: 35.78px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 178;
}
.x {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12.7px;
  height: 12.8px;
  top: 6.35px;
  left: 18.15px;
  color: #4286f4;
  font-family: Inter, var(--default-font-family);
  font-size: 12.5px;
  font-weight: 400;
  line-height: 12.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 179;
}
.item-button-3b {
  flex-shrink: 0;
  position: relative;
  width: 121.76px;
  height: 27.85px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #0d6efd;
  z-index: 180;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.copy-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 63.325px;
  height: 16px;
  top: 4.35px;
  left: 37.34px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 181;
}
.text-29 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12.7px;
  height: 12.8px;
  top: 6.35px;
  left: 19.71px;
  color: #4286f4;
  font-family: Inter, var(--default-font-family);
  font-size: 12.5px;
  font-weight: 400;
  line-height: 12.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 182;
}
.flex-row {
  position: relative;
  width: 249.76px;
  height: 27.85px;
  margin: 10px 0 0 0;
  z-index: 188;
}
.item-button-3c {
  position: absolute;
  height: 27.85px;
  top: 50%;
  right: 128px;
  left: 0;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #0d6efd;
  transform: translate(0, -50%);
  opacity: 0.65;
  z-index: 183;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.item-button-3d {
  position: absolute;
  height: 27.85px;
  top: 50%;
  right: 0;
  left: 128px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #0d6efd;
  transform: translate(0, -50%);
  opacity: 0.65;
  z-index: 186;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.undo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 37.326px;
  height: 16px;
  top: 5.35px;
  left: 50.78px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 184;
}
.redo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 33.108px;
  height: 16px;
  top: 5.35px;
  left: 180.63px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 187;
}
.a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12.7px;
  height: 12.8px;
  top: 7.35px;
  left: 33.15px;
  color: #4286f4;
  font-family: Inter, var(--default-font-family);
  font-size: 12.5px;
  font-weight: 400;
  line-height: 12.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 185;
}
.b {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12.7px;
  height: 12.8px;
  top: 7.35px;
  left: 163px;
  color: #4286f4;
  font-family: Inter, var(--default-font-family);
  font-size: 12.5px;
  font-weight: 400;
  line-height: 12.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 188;
}
.advanced {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 58.856px;
  height: 16px;
  margin: 13.2px 0 0 190.21px;
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 189;
}
.item-button-3e {
  position: relative;
  width: 241px;
  height: 27.85px;
  margin: 162.15px 0 0 5px;
  background: #7dce82;
  border: 1px solid #233b53;
  z-index: 190;
  border-radius: 20px;
}
.save-exit {
  position: absolute;
  width: 70.324px;
  height: 16px;
  top: 4.35px;
  left: 94.04px;
  cursor: pointer;
  color: #233b53;
  font-family: Open Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 191;
}
.l {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12.7px;
  height: 12.8px;
  top: 6.35px;
  left: 76.41px;
  color: #233b53;
  font-family: Inter, var(--default-font-family);
  font-size: 12.5px;
  font-weight: 400;
  line-height: 12.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 192;
}
.flex-row-3f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 237.1px;
  height: 32px;
  margin: 10px 0 0 7.5px;
  z-index: 199;
}
.item {
  flex-shrink: 0;
  position: relative;
  width: 198.5px;
  height: 30.6px;
  background: #ffffff;
  border: 1px solid #4286f4;
  z-index: 193;
  border-radius: 15px;
}
.right-hand-menu-zoom-cell {
  position: relative;
  width: 196.9px;
  height: 29px;
  margin: 0.8px 0 0 0.8px;
  background: rgba(255, 255, 255, 0);
  z-index: 194;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.button-40 {
  position: absolute;
  width: 29.6px;
  height: 24px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border: 1px solid #0d6efd;
  transform: translate(205.78%, -50%);
  z-index: 197;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.svg-41 {
  position: relative;
  width: 13px;
  height: 13px;
  margin: 5.3px 0 0 8.3px;
  background: url(./assets/images/ea46a3a9-9a58-4f27-b3f7-bb48b0518937.png)
    no-repeat center;
  background-size: cover;
  z-index: 198;
  overflow: hidden;
}
.label-zoom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 35.437px;
  height: 17.6px;
  top: 5.3px;
  left: calc(50% - 95.95px);
  color: #4286f4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 17.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 195;
}
.input-42 {
  position: absolute;
  width: 90.95px;
  height: 16px;
  top: 7px;
  left: 50%;
  background: #ffffff;
  transform: translate(-49.99%, 0);
  z-index: 196;
}
.button-43 {
  flex-shrink: 0;
  position: relative;
  width: 36.6px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #4286f4;
  z-index: 199;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.svg-44 {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 6.05px 0 0 8.3px;
  background: url(./assets/images/d15bed53-7e27-460e-bbf9-34bbdd7048a3.png)
    no-repeat center;
  background-size: cover;
  z-index: 200;
  overflow: hidden;
}
.privacy-terms-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 109.458px;
  height: 18px;
  margin: 8.6px 0 0 76.63px;
  color: #233b53;
  font-family: Open Sans, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  z-index: 201;
}
.navigation-45 {
  position: absolute;
  top: 0px;
  right: 1292.5px;
  bottom: 19.6px;
  left: 0;
  background: #dae6f4;
  z-index: 139;
  overflow: hidden;
}
.preview-cell-index {
  position: relative;
  width: 228.15px;
  height: 100px;
  margin: 21px 0 0 10.38px;
  z-index: 140;
}
.svg-46 {
  position: absolute;
  width: 150px;
  height: 100px;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #3f84f4;
  transform: translate(-61.35%, -50%);
  z-index: 141;
  overflow: hidden;
  box-shadow: 0 0 0 0 #3f84f4 inset;
}
.svg-preview-single-cell {
  position: absolute;
  width: 150px;
  height: 100px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/dcf5c4f2-fdf2-484c-9236-c7294677f1c3.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50.67%, -51%);
  z-index: 142;
}
.single-cell-preview-page-number {
  position: absolute;
  width: 19.44px;
  height: 27.2px;
  top: 66.15px;
  left: 50%;
  background: #ffffff;
  transform: translate(61.6%, 0);
  opacity: 0.7;
  z-index: 143;
}
.page-number-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 11.771px;
  height: 27.2px;
  top: 0;
  left: calc(50% - 5.72px);
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: center;
  white-space: nowrap;
  z-index: 144;
}
.button-47 {
  position: absolute;
  width: 14.6px;
  height: 22.6px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border: 1px solid #233b53;
  transform: translate(242.5%, 82.74%);
  z-index: 145;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.microphone-icon {
  position: relative;
  width: 8px;
  height: 14px;
  margin: 6.05px 0 0 3.3px;
  background: url(./assets/images/d22f21a9-68c6-4bad-8c82-153098e17f5f.png)
    no-repeat center;
  background-size: cover;
  z-index: 146;
  overflow: hidden;
}
.preview-cell-index-48 {
  position: relative;
  width: 228.15px;
  height: 100px;
  margin: 21px 0 0 10.38px;
  z-index: 147;
}
.svg-49 {
  position: absolute;
  width: 150px;
  height: 100px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/4ad69ecb-e8af-470d-929b-26d32ae44340.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-61.35%, -50%);
  z-index: 148;
  overflow: hidden;
}
.single-cell-preview-page-number-4a {
  position: absolute;
  width: 19.44px;
  height: 27.2px;
  top: 66.15px;
  left: 50%;
  background: #ffffff;
  transform: translate(61.6%, 0);
  opacity: 0.7;
  z-index: 149;
}
.page-number-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 11.771px;
  height: 27.2px;
  top: 0;
  left: calc(50% - 5.72px);
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: center;
  white-space: nowrap;
  z-index: 150;
}
.button-4b {
  position: absolute;
  width: 14.6px;
  height: 22.6px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border: 1px solid #233b53;
  transform: translate(242.5%, 82.74%);
  z-index: 151;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.microphone-icon-4c {
  position: relative;
  width: 8px;
  height: 14px;
  margin: 6.05px 0 0 3.3px;
  background: url(./assets/images/b7d8fdc2-bc01-4943-9297-2527aefd18c1.png)
    no-repeat center;
  background-size: cover;
  z-index: 152;
  overflow: hidden;
}
.preview-cell-index-4d {
  position: relative;
  width: 228.15px;
  height: 100px;
  margin: 21px 0 0 10.38px;
  z-index: 153;
}
.svg-4e {
  position: absolute;
  width: 150px;
  height: 100px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/2213c5eb-25db-4cf7-8294-fbabc76d3d3c.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-61.35%, -50%);
  z-index: 154;
  overflow: hidden;
}
.single-cell-preview-page-number-4f {
  position: absolute;
  width: 19.44px;
  height: 27.2px;
  top: 66.15px;
  left: 50%;
  background: #ffffff;
  transform: translate(61.6%, 0);
  opacity: 0.7;
  z-index: 155;
}
.page-number-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 11.771px;
  height: 27.2px;
  top: 0;
  left: calc(50% - 5.72px);
  color: #000000;
  font-family: Open Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 27.2px;
  text-align: center;
  white-space: nowrap;
  z-index: 156;
}
.button-50 {
  position: absolute;
  width: 14.6px;
  height: 22.6px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border: 1px solid #233b53;
  transform: translate(242.5%, 82.74%);
  z-index: 157;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 100, 0.3);
}
.microphone-icon-51 {
  position: relative;
  width: 8px;
  height: 14px;
  margin: 6.05px 0 0 3.3px;
  background: url(./assets/images/a0d7ad15-3534-46f0-9409-172a31f928dc.png)
    no-repeat center;
  background-size: cover;
  z-index: 158;
  overflow: hidden;
}
.creator-menu-tabs-leftside-open-small {
  position: absolute;
  width: 45px;
  height: 70px;
  bottom: 54.8px;
  left: 246.5px;
  z-index: 159;
  overflow: hidden;
}
.creator-menu-tabs-leftside-open-small-fill {
  position: absolute;
  width: 45px;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 160;
  overflow: hidden;
}
.creator-menu-tabs-leftside-open-small-52 {
  position: relative;
  width: 21.667px;
  height: 70px;
  margin: 0 0 0 11.667px;
  background: url(./assets/images/d36f482d-919b-4eb9-9f0c-34576c22fd42.png)
    no-repeat center;
  background-size: cover;
  z-index: 161;
  overflow: hidden;
}
.creator-menu-tabs-rightside-collapse-small {
  position: absolute;
  width: 45px;
  height: 70px;
  bottom: 54.8px;
  left: 1260.5px;
  z-index: 202;
  overflow: hidden;
}
.creator-menu-tabs-rightside-collapse-small-fill {
  position: absolute;
  width: 45px;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 203;
  overflow: hidden;
}
.creator-menu-tabs-rightside-collapse-small-53 {
  position: relative;
  width: 21.667px;
  height: 70px;
  margin: 0 0 0 11.667px;
  background: url(./assets/images/70c5e414-c1cb-468a-b772-ae1c0e63c3ce.png)
    no-repeat center;
  background-size: cover;
  z-index: 204;
  overflow: hidden;
}
